$accent: #fe3e57;
$default: #8D8D8D;
$title: #29282D;
$bg: #f6f6f6;

%quicksand-400 {
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

.footer-top__social-link {
  width: 30px;
  height: 30px;
}

