@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";










// .partners {
//   padding-top: 175px;
//   &__list {
//     height: 170px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
// }




.page-404 {
  padding: 110px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    max-width: 570px;
    width: 100%;
  }
  &__title {
    color: #28384f;
    margin-bottom: 40px;
    @extend %roboto-700;
    font-size: 48px;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__link {
    background-color: $accent;
    text-transform: uppercase;
    color: #ffffff;
    padding: 14px 35px;
    @extend %roboto-400;
    box-shadow: 0px 5px 25px 0px rgba(254, 62, 87, 0.34);
  }
}

.shop {
  padding: 120px 0 105px;
  &__inner {
    display: flex;
  }
  &__filters {
    width: 370px;
    margin-right: 30px;
  }
}

.filter {
  &__item {
    padding: 35px 30px 40px;
    border: 1px solid #ececec;
    margin-bottom: 40px;
  }
  &__title {
    text-transform: uppercase;
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
    margin-bottom: 25px;
  }
}

.filter-search {
  &__form {
    display: flex;
  }
  &__input {
    border: none;
    background-color: $bg;
    width: 260px;
    height: 50px;
    padding: 0 5px 0 15px;
  }
  &__btn {
    border: none;
    background-color: $accent;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  &__btn {
    @extend %btn;
    border: none;
    cursor: pointer;
  }
}

.irs--flat .irs-line {
  top: 13px;
  height: 5px;
  background-color: #ececec;
  border-radius: 0px;
}

.irs--flat .irs-handle {
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(90, 90, 90, 0.2);
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 13px;
  height: 5px;
  background-color: $accent;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat {
  height: 30px;
}

.filter-color {
  &__label {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    & + .filter-color__label {
      padding-top: 20px;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-color__checkbox {
      background-image: url("../images/icons/check-on.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: -16px;
    margin-top: 7px;
  }
  &__checkbox--blue {
    background-color: #00aeef;
  }
  &__checkbox--red {
    background-color: #f52574;
  }
  &__checkbox--green {
    background-color: #24d4ac;
  }
  &__checkbox--orange {
    background-color: #ff7e00;
  }
  &__checkbox--black {
    background-color: #000;
  }
  &__checkbox--purple {
    background-color: #923899;
  }
}

.filter-size {
  &__label {
    display: block;
    padding-left: 35px;
    margin-bottom: 20px;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-size__checkbox {
      border: none;
      background-image: url("../images/icons/check-size.svg");
      & + .filter-size__text {
        color: $accent;
      }
    }
  }
  &__checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-left: -35px;
    border: 1px solid $default;
    border-radius: 50%;
  }
}

.filter-category {
  &__label {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: $accent;
      color: #fff;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    color: $title;
    padding: 16px 20px;
  }
}

.filter-popular {
  &__label {
    display: inline-block;
    margin: 0 8px 20px 0;
    padding: 10px 0;
    cursor: pointer;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-popular__checkbox {
      background-color: $accent;
      border-color: $accent;
      color: #fff;
    }
  }
  &__checkbox {
    border: 1px solid $default;
    padding: 10px 20px;
  }
}

.shop-content {
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ececec;
    .product-item {
      margin-bottom: 40px;
    }
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ebebeb;
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
  }
  &__filter-buttons {
    display: flex;
    align-items: center;
  }
  &__filter-btn {
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;
    &.shop-content__filter-btn--active {
      path {
        fill: $accent;
      }
    }
  }
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 30px 0 0;
  border: none;
  background: transparent;
  box-shadow: none;
  color: $default;
  @extend %quicksand-500;
  margin-left: 30px;
  &:hover {
    background: transparent;
  }
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 10px;
  height: 5px;
  border: none;
  background-image: url("../images/icons/angle-down.svg");
}

.product-page {
  padding: 120px 0 60px;
  border-bottom: 1px solid #ececec;
}
.product-one {
  &__inner {
    display: flex;
  }
  &__slide {
    width: 730px;
    margin-right: 70px;
  }
  &__content {
    width: 370px;
  }
  &__title {
    margin-bottom: 20px;
    color: $title;
    font-size: 20px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__price {
    display: flex;
  }
  &__price-new {
    color: $title;
    font-size: 18px;
  }
  &__price-old {
    text-decoration: line-through;
    padding-left: 15px;
  }
  &__item-star {
    display: flex;
    align-items: center;
    span {
      padding-left: 8px;
      color: $title;
      font-size: 22px;
    }
  }
  &__item-text {
    margin-bottom: 30px;
    span {
      display: block;
      color: $title;
      @extend %roboto-400;
      font-size: 18px;
    }
  }
  &__item-btn {
    @extend %btn;
    border: none;
    margin-left: 15px;
    cursor: pointer;
  }
}

.product-filter {
  &__color {
    margin-bottom: 25px;
    label {
      margin-right: 10px;
    }
  }
  &__color-input {
    @extend %radio-hidden;
    &:checked {
      & + .product-filter__color-checkbox {
        border-color: $accent;
      }
    }
  }
  &__color-checkbox {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #ccccce;
    span {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
    }
  }
  &__color-title,
  &__size-title {
    margin-bottom: 5px;
    font-size: 18px;
    color: $title;
    @extend %roboto-400;
  }
  &__size {
    margin-bottom: 35px;
  }
  label {
    display: inline-block;
    margin-right: 10px;
  }
  &__size-input {
    @extend %radio-hidden;
    &:checked {
      & + .product-filter__size-radio {
        border-color: $accent;
      }
    }
  }
  &__size-radio {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #ccccce;
  }
}

.jq-number__field {
  width: 114px;
  border: 1px solid #ececec;
  // border-bottom-color: #ececec;
  // border-radius: 0;
  box-shadow: none;
  transform: translateY(1px);
}
.jq-number__field input {
  width: 100%;
  text-align: center;
  // padding: 17px 10px;
  // width: 114px;
  height: 50px;
  border: none;
  outline: none;
  background: none;
  @extend %quicksand-500;
  font: 14px Arial, sans-serif;
  color: $title;
  font-size: 16px;
}

.jq-number {
  position: relative;
  // vertical-align: middle;
  padding: 0;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin.minus {
  left: 15px;
}
.jq-number__spin.plus {
  right: 15px;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  background-color: $title;
  width: 12px;
  height: 1px;
}
.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  background-color: $title;
  width: 1px;
  height: 12px;
}


.product-info {
  &__list {
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    margin-bottom: 5px;
  }
  &__title {
    min-width: 100px;
    color: $title;
  }

  &__link {
    path {
      fill: $default;
    }
    & + .product-info__link {
      margin-left: 15px;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
}

.product-slide {
  display: flex;
  .slick-vertical .slick-slide {
    height: 140px;
    margin-bottom: 30px;
  }
   &__thumb {
    width: 140px;
    margin-right: 30px;
  }
  &__thumb-item {
    margin-bottom: 30px;
    width: 140px;
    height: 140px;
    cursor: pointer;
    img {
      width: 140px;
      height: 140px;
      object-fit: cover;
    }
  }
  &__big {
    width: 560px;
    img {
      width: 560px;
      height: 650px;
      object-fit: contain;
    }
  }
}




@import "media";
