.top-slider {
  // background-image: url(../images/decor/top-slider-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  padding: 65px 0 45px;
  &__container {
    min-width: 1560px;
  }
  &__content {
    padding-left: 175px;
    padding-top: 125px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__title {
    min-width: 670px;
    margin-bottom: 35px;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    @extend %roboto-700;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__link {
    @extend %btn;
    padding: 14px 35px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    li {
      padding: 0 5px;
      line-height: 0;
      button {
        position: relative;
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid transparent;
        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.slick-active {
        button {
          border-color: $accent !important;
          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .top-slider {
    &__content {
      padding-left: 0;
      padding-top: 40px;
    }
    &__img {
      width: 40%;
      object-fit: contain;
    }
  }
  
}
